body{
    background: rgb(115, 115, 229);
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: white;
}

section{
background: white;
border-radius: 15px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgb(70, 67, 67);
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}

#verf{
    margin-top: 15px;
}

#info{
    text-align: center;
}

#resultado{
    margin-top: 15px;
    text-align: center;
}

#ano{
    margin-bottom: 15px;
}